.footer__list {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  padding-bottom: 35px;
}

body[data-locale='es'] .footer__list {
  column-gap: 15px;
}
body[data-locale='pt'] .footer__list,
body[data-locale='de'] .footer__list,
body[data-locale='fr'] .footer__list {
  column-gap: 10px;
}

.footer__item__text {
  font-size: 0.8125rem;
  line-height: 1.3;
  color: var(--color-white-opacity);
  letter-spacing: 1px;
}

body[data-locale='de'] .footer__item__text,
body[data-locale='fr'] .footer__item__text {
  font-size: 0.6875rem;
  letter-spacing: normal;
}

@media only screen and (device-width <= 375px) and (orientation: portrait) {
  .footer__list {
    padding-bottom: 10px;
  }

  body[data-locale='es'] .footer__list {
    column-gap: 12px;
  }
}

@media only screen and (device-width >= 414px) and (device-height <= 736px) {
  .footer__list {
    padding-bottom: 10px;
  }
}
