.hero {
  margin-bottom: 2.6rem;
}

.hero__title {
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
}

@media only screen and (min-device-width: 414px) {
  .hero {
    margin-bottom: 3.2rem;
  }
}

@media only screen and (max-device-width: 375px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  body[data-locale='fr'] .hero__title,
  body[data-locale='pt'] .hero__title {
    font-size: 2.3rem;
  }
}
