.hero {
  margin-bottom: 2.6rem;
}

.hero__title {
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
}

@media only screen and (device-width >= 414px) and (device-height >= 896px) {
  .hero {
    margin-bottom: 3.2rem;
  }
}

@media only screen and (device-width <= 375px) and (orientation: portrait) {
  body[data-locale='fr'] .hero__title,
  body[data-locale='pt'] .hero__title {
    font-size: 2.3rem;
  }
}

@media only screen and (device-width >= 414px) and (device-height <= 736px) {
  .hero {
    margin-bottom: 2.2rem;
  }

  .hero__title {
    font-size: 2.325rem;
  }
}
