.plan {
  position: relative;

  width: 100%;
  height: 56px;
  padding: 8px 24px;

  background: var(--color-bg-plan);
  border: 1px solid var(--color-bg-plan);
  border-radius: 32px;
}

.plan-active {
  background: rgb(255 255 255 / 30%);
  backdrop-filter: blur(11px);
  border: 1px solid var(--color-white);
}

.plan:first-child {
  margin-bottom: 8px;
}

.plan__inner {
  display: grid;
  grid-template-columns: 73% 1fr;
  align-items: center;
  height: 100%;
}

body[data-locale='fr'] .plan__inner {
  grid-template-columns: 70% 1fr;
}

.plan__info {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.plan__title {
  font-weight: 600;
}

.plan__description {
  opacity: 0.7;
}

.plan__price {
  opacity: 0.7;
}

.plan__price-best-offer {
  position: relative;
  top: 3px;
}

.best-offer-badge {
  --height: 20px;
  --px: 23px;

  position: absolute;
  top: calc(var(--height) / 2 * -1);
  right: var(--px);

  display: flex;
  align-items: center;

  height: var(--height);
  padding-inline: var(--px);

  font-family: var(--font3);
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--color-dark-blue);

  background: var(--color-white);
  border-radius: 10px;
}

@media only screen and (device-width <= 375px) and (orientation: portrait) {
  .plan__inner {
    grid-template-columns: 64% 1fr;
  }

  body[data-locale='fr'] .plan__inner {
    grid-template-columns: 70% 1fr;
  }
}

@media only screen and (device-width >= 414px) {
  .plan:first-child {
    margin-bottom: 18px;
  }
}
