:root {
  --container-width: 430px;
  --container-padding-x: 24px;
  --color-white: #fff;
  --color-white-opacity: rgb(255 255 255 / 50%);
  --color-dark-blue: #141131;
  --color-dark-blue2: #070b33;
  --color-bg-plan: rgb(255 255 255 / 10%);
  --font3: 'Roboto', sans-serif;

  @media (width <= 360px) {
    --container-width: 100%;
    --container-padding-x: 15px;
  }
}
